body {
    font-family: "微软雅黑", STXihei, "黑体";
    background-image: url("../picture/realbg.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position:center top;
    margin: 0;
}

#title {
    top: 0px;
    width: 100%; 
    height: auto; 
    display: block; 
    text-align: center;
}

#pig {
    position: absolute;
    top: -13%;
    width: 100%; 
    height: auto; 
    display: block; 
    text-align: center;
}

#inputname{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin:auto;
    background-color:transparent; 
    border-style:none none none none;
}

#button1 {
    position: absolute;
}

#button2 {
    position: absolute;
}

#button3 {
    position: absolute;
}

#beginbg {
    width: 100%; 
    height: auto; 
    display: block; 
    text-align: center;
}

#processbg {
    width: 100%; 
    height: auto; 
    display: block; 
    text-align: center;
}

#instruction {
    color: #c66565;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

#answerimg {
    width: 100%; 
    height: auto; 
    display: block; 
    text-align: center;
}

#qianwen {
    position: absolute;
    top: 0px;
    width: 100%; 
    height: auto; 
    display: block; 
    text-align: center;
}

#displayname {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    color: #f9f5f4;
}

#output {
    width: 100%; 
    height: auto; 
    display: block; 
    text-align: center;
}
